<header class="header">
  <div class="container header__container">
    <button class="mobile-btn">
      <svg class="mobile-btn__icon" width="31" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <a class="logo" href
      ><img class="logo__img" src="./images/logo.png" alt="page-logo"
    /></a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="" class="navigation__link current">Home</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Products</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Categories</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <ul class="icons">
      <li class="icons__item">
        <a href="" class="icons__link">
          <svg class="icons__icon" width="27" height="27">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </a>
      </li>
      <li class="icons__item">
        <a href="" class="icons__link">
          <svg class="icons__icon" width="27" height="27">
            <use href="./images/icons.svg#icon-store"></use>
          </svg>
        </a>
      </li>
      <li class="icons__item">
        <a href="" class="icons__link">
          <svg class="icons__icon" width="26" height="26">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
