.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/hero-bg-mob.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: url(../images/hero-bg-mob-2x.jpeg);
  }

  @include tablet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/hero-bg-tab.jpeg);
    @include retina {
      background-image: url(../images/hero-bg-tab-2x.jpeg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero-bg.jpeg);
    @include retina {
      background-image: url(../images/hero-bg-2x.jpeg);
    }
  }
  @include desktop {
  }
}

.hero__title {
  margin-bottom: 16px;
  text-align: center;
  @include tablet {
    text-align: left;
    max-width: 460px;
  }
  @include desktop {
    font-size: 64px;
    line-height: 1.33;
    margin-bottom: 54px;
  }
}

.hero__text {
  font-size: 18px;
  line-height: 1.28;
  color: #07484a;
  text-align: center;
  max-width: 287px;
  margin: 0 auto;
  margin-bottom: 52px;
  @include tablet {
    text-align: left;
    max-width: unset;
  }
  @include desktop {
    margin-bottom: 54px;
  }
}
.hero__btn {
  min-width: 171px;
  height: 55px;
  display: block;
  margin: 0 auto;
  @include tablet {
    margin: unset;
    min-width: 230px;
    height: 80px;
  }
}
